header {
  position: fixed;
  /* Fija el header en la posición actual */
  top: 0;
  /* Alinea el header con la parte superior de la ventana */
  left: 0;
  /* Alinea el header con el lado izquierdo de la ventana */
  width: 100%;
  /* Hace que el header se extienda a lo ancho de la pantalla */
  z-index: 1000;
   display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: #fffefe;
  border-bottom: 1px solid #EEEEEE;
  font-size: 18px;
  padding: 0px 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 40px;
  margin-right: 5px;
}

.navigation .link {
  padding: 10px;
}

.navigation .link.active {
  background-color: #EEEEEE;
  border-radius: 5px;
}

.items {
  font-weight: 500;
  min-width: 70px;
}

@media screen and (max-width: 680px) {
  .navigation {
    display: none;
  }
}